*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
#fondo{
    background: #9043E6;
    height: 90vh;
}
.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}
#inicio1{
    height: 90vh;
}
.marca{
    background: #242426;
    height: 10vh;
}
.m{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ma{
    height: 10vh;
}
p{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
